<div class="row">
	<div class="col-xs-offset-4 col-xs-4 loginbox">
			
				<div class="alert alert-info text-center" style="height:50px;position: absolute;top:0%;left:0%;width:100%;z-index: 99999;">
			<span ng-show="signupform.signupemail.$invalid && signupform.signupemail.$dirty">Invalid Email Address </span>
			<span ng-show="signupform.$submitted && processstatus">Processing...</span>
			<span >{{signupstatus}}</span>
			</div>
			<form ng-submit="signup()" name="signupform"><br>
			<div class="header">
				<h2>Welcome, Please Signup</h2>
			</div>
			<div class="form-group">
			<label for="fname">First Name </label>
			<input type="text" ng-model="fname" placeholder="First name" maxlength="25" required autofocus="true" class="form-control" name=fname>
			</div>
			<div class="form-group">
			<label for="lname">Last Name </label>
			<input type="text" ng-model="lname" placeholder="Last name" maxlength="25" required autofocus="true" class="form-control">
			</div>
			<div class="form-group">
			<label for="email">Email </label>
			<input type="email" ng-model="signupemail" placeholder="Email" maxlength="30" required autofocus="true" class="form-control" name="signupemail">
			</div>
			<div class="form-group">
			<label for="password">Password </label>
			<input type="password" ng-model="signuppassword" placeholder="Password" maxlength="12" required autofocus="true" class="form-control">
			</div>
			<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="signupform.$invalid">Signup</button>
			</div>
			</form>	
			<span>Already have a account yet, Please <a href="#!/" style="color:blue !important;">Login</a></span>

	</div>

</div>